<%= form_with(model: disciplina, local: true, class:"form-inline") do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <%= form.text_field :nome, id: 'inlineFormInputName2', class:"form-control mb-2 mr-sm-2 mb-sm-0" %>
    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
      <%= form.submit'Enviar', class: 'btn btn-lg btn-light btn-block', style:'background: #b9a88e' %>
    </div>

<% end %>
