<%= form_with(model: disciplina, local: true, class:"form-inline") do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-hover table-dark" style= "width: 80%; margin: 0 auto">
  <thead>
    <tr>
      <th scope ="col" colspan="3" style = "background: rgba(32,37,41,1); border-top-left-radius: 5px; border-top-right-radius: 5px" style: "text-decoration: none; color: #e5e5e5">Disciplina </th>
    </tr>
    <tr>
      <th scope="col" style = "background: rgba(32,37,41,1)">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style = "background: #b9a88e; color: black">Titulo</span>
          <%= form.text_field :nome, id: :caderno_titulo, class:"form-control" %>
        </div>
      </th>
    </tr>
  </thead>
</table>
<div class = "container text-right" style = "width: 80%; padding-top: 15px">
<%= form.submit'Enviar', class: 'btn btn-md btn-light', style:'background: rgba(32,37,41,1); color: white' %>
</div>
<% end %>
