<div class = editarUsuario>
  <div class="container">
      <h1 style = "font-size: 50px; text-align: center">CodeBook</h1>
<h2>Editar Perfil </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "off", id: 'inputEmail', class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :senha %> <i>(Deixe em branco se você não quiser mudar)</i><br />
    <%= f.password_field :password, autocomplete: "off", id: 'inputPassword', class: 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_senha %><br />
    <%= f.password_field :password_confirmatio, autocomplete: "off", id: 'inputPassword', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Senha_atual %> <i>(Informe sua senha atual para confirmar a mudança)</i><br />
    <%= f.password_field :current_password, autocomplete: "off",  id: 'inputPassword', class: 'form-control'  %>
  </div>

  <table style="width:100%">
  <tr>
    <td>
  <%= f.radio_button :avatar, 'icons/i1.png', :checked => true %>
  <%= image_tag("icons/i1.png", size: 70, class:"rounded-circle")%>
  </td><td>
  <%= f.radio_button :avatar, 'icons/i2.png' %>
  <%= image_tag("icons/i2.png", size: 70, class:"rounded-circle")%>
  </td><td>
  <%= f.radio_button :avatar, 'icons/i3.png' %>
  <%= image_tag("icons/i3.png", size: 70, class:"rounded-circle")%>
  </td></tr>
  <tr><td>
  <%= f.radio_button :avatar, 'icons/i4.png' %>
  <%= image_tag("icons/i4.png", size: 70, class:"rounded-circle")%>
  </td><td>
  <%= f.radio_button :avatar, 'icons/i5.png' %>
  <%= image_tag("icons/i5.png", size: 70, class:"rounded-circle")%>
  </td><td>
  <%= f.radio_button :avatar, 'icons/i6.png' %>
  <%= image_tag("icons/i6.png", size: 70, class:"rounded-circle")%>
  </td></tr>
  </table>

  <div class="actions">
    <%= f.submit "Atualizar", class: 'btn btn-lg btn-light', style:'background: #b9a88e; margin-top:10px' %>
  </div>
<% end %>

<h3>Excluir Conta</h3>

<p>Não está satisteifo com o serviço? <%= button_to "Excluir conta", registration_path(resource_name), class: 'btn btn-lg btn-light', style:'background: #b9a88e; margin-top:10px', data: { confirm: "Você tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back, class: 'btn btn-lg btn-light', style:'background: #b9a88e; margin-top:10px; text-shadow: none; margin-bottom: 10px' %>
</div> <!-- /container -->
</div>
