<table class="table table-hover table-dark" style = "width: 80%; margin: 0 auto">
<thead>
  <tr>
    <th scope ="col" colspan="3" style = "background: rgba(32,37,41,1); border-top-left-radius: 5px; border-top-right-radius: 5; text-decoration: none; color: #e5e5e5"">Cadernos Emprestados</th>
  </tr>
  <% @contador = 0 %>
    <% current_user.caderno.each do |caderno| %>
      <% @contador = @contador+1 %>
  <% end %>
  <% if @contador == 0 %>
    <td colspan ="4">Não há cadernos emprestados.</td>
  <%else%>
  <tr>
    <th scope="col" style = "background: rgba(32,37,41,1)">#</th>
    <th scope="col" style = "background: rgba(32,37,41,1)">Nome do caderno</th>
    <th scope="col" style = "background: rgba(32,37,41,1)">Nome da disciplina</th>
    <th scope="col" style = "background: rgba(32,37,41,1)">Dono</th>
  </tr>
  <%end%>
</thead>
<tbody style = "color: #e5e5e5">

  <% @contador = 1 %>
  <% current_user.caderno.each do |caderno| %>
      <tr data-link="<%= caderno_path(caderno) %>">
        <th scope="row"><%= @contador %></th>
        <% @contador = @contador + 1; %>
        <td><%= caderno.titulo %></td>
        <td><%= caderno.disciplina.nome %></td>
        <td><%= caderno.disciplina.user.username %></td>
      </tr>
  <% end %>
</tbody>
</table>

<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
