<%= form_with(model: caderno, local: true) do |form| %>
  <% if caderno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caderno.errors.count, "error") %> prohibited this caderno from being saved:</h2>

      <ul>
      <% caderno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope ="col" colspan="3" style = "background: rgba(32,37,41,1); border-top-left-radius: 5px; border-top-right-radius: 5px" style: "text-decoration: none; color: #e5e5e5">Novo caderno </th>
      </tr>
      <tr>
        <th scope="col" style = "background: rgba(32,37,41,1)">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1" style = "background: #b9a88e">Titulo</span>
            <%= form.text_field :titulo, id: :caderno_titulo, class:"form-control" %>
          </div>
        </th>
      </tr>
    </thead>
    <tbody style = "color: #e5e5e5">
      <tr data-link="#">
        <td>
              <%= form.cktext_area :conteudo, id: :caderno_conteudo, ckeditor: {
                language: 'pt',
                uiColor: '#b9a88e' }
              %>
        </td>
      </tr>
      <tr data-link="#" >
        <td colspan ="2" class="text-right"><%= form.submit'Enviar', class: 'btn btn-md btn-light', style:'background: #b9a88e' %></td>
      </tr>
    </tbody>
  </table>
  <%= form.hidden_field :disciplina_id %>
  <div class="actions">

  </div>
<% end %>
