<%= form_with(model: caderno, local: true) do |form| %>
  <% if caderno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caderno.errors.count, "error") %> prohibited this caderno from being saved:</h2>

      <ul>
      <% caderno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :titulo, id: :caderno_titulo, :placeholder => "Titulo" %>
  </div>

  <div class="field">
    <%= form.cktext_area :conteudo, id: :caderno_conteudo, ckeditor: {
    language: 'pt',
    uiColor: '#CCCCCC' }
 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
