
<div id = "wrapper">
  <!-- sidebar -->
  <div id = "sidebar-wrapper">
    <ul class = "sidebar-nav">
      <li><%= image_tag("avatar.jpeg", class:'rounded-circle') %></li>
      <li><a href = "#1">Link 1</a></li>
      <li><a href = "#2">Link 2</a></li>
      <li><%= link_to('Sair', destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>

  <!-- content -->
  <div id = "page-content-wrapper">
    <div class = "container-fluid">
      <div class = "column-lg-12">
        <a href = "" class = "btn btn-dark" id = "menu-toggle">Toggle Menu</a>
        <h1>Cadernos</h1>

        <table>
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Conteudo</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @cadernos.each do |caderno| %>
              <tr>
                <td><%= caderno.titulo %></td>
                <td><%= caderno.conteudo %></td>
                <td><%= link_to 'Show', caderno %></td>
                <td><%= link_to 'Edit', edit_caderno_path(caderno) %></td>
                <td><%= link_to 'Destroy', caderno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to 'New Caderno', new_caderno_path %>
      </div>
    </div>
  </div>
</div>
<script>
  $("#menu-toggle").click( function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("menuDisplayed");
  });
</script>
