<p id="notice"><%= notice %></p>

<h1>Cadernos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Conteudo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadernos.each do |caderno| %>
      <tr>
        <td><%= caderno.titulo %></td>
        <td><%= caderno.conteudo %></td>
        <td><%= link_to 'Show', caderno %></td>
        <td><%= link_to 'Edit', edit_caderno_path(caderno) %></td>
        <td><%= link_to 'Destroy', caderno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caderno', new_caderno_path %>
