<div id = "wrapper">
  <!-- sidebar -->
  <div id = "sidebar-wrapper">
    <ul class = "sidebar-nav">
      <li><%= image_tag("avatar.jpeg", class:'rounded-circle') %></li>
      <% @disciplinas.each do |disciplina| %>
        <% if disciplina.user == current_user %>
          <li><%= link_to disciplina.nome, disciplina %></li>
        <% end %>
      <% end %>
      <li><%= link_to 'Criar disciplina', new_disciplina_path %></li>
      <li><%= link_to('Sair', destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>
  <!-- content -->
  <div id = "page-content-wrapper">
    <div class = "container-fluid">
      <div class = "column-lg-12">
        <%= render 'form', caderno: @caderno %>
        <%= link_to 'Back', cadernos_path %>
      </div>
    </div>
  </div>
</div>
