<div id = "wrapper">
  <!-- sidebar -->
  <div id = "sidebar-wrapper">
    <ul class = "sidebar-nav">
      <li><%= image_tag("avatar.jpeg", class:'rounded-circle') %></li>
      <% @disciplinas.each do |disciplina| %>
        <% if disciplina.user == current_user %>
          <li><%= link_to disciplina.nome, disciplina %></li>
        <% end %>
      <% end %>
      <li><%= link_to 'Criar disciplina', new_disciplina_path %></li>
      <li><%= link_to('Sair', destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>
  <!-- content -->
  <div id = "page-content-wrapper">
    <div class = "container-fluid">
      <div class = "column-lg-12">
        <p>
          <strong>Titulo:</strong>
          <%= @caderno.titulo %>
        </p>
        <p>
          <strong>Conteudo:</strong>
          <%= @caderno.conteudo.html_safe %>
        </p>
        <%= link_to 'Edit', edit_caderno_path(@caderno), class: 'btn btn-lg btn-light btn-block', style:'background: #b9a88e' %>
        <%= link_to 'Back', disciplina_path(@caderno.disciplina), class: 'btn btn-lg btn-light btn-block', style:'background: #b9a88e' %>
        <%= link_to 'Excluir', caderno_path(@caderno), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class:"btn btn-danger", style: "color: white; padding: 10px; margin-top: 15px" %>
      </div>
    </div>
  </div>
</div>